.brand
{
    line-height:0;
    display:inline;
}

.res_name
{
    font-size:1.5rem;
    font-weight:600;
    font-family: 'Cormorant Garamond', serif;
    padding-top: 1rem;
}

.res_type
{
    font-size:0.6rem;
    letter-spacing: 0.2rem;
    text-transform:uppercase;
    color:#ff005c;
    font-weight:500;
    font-family: 'Open Sans', sans-serif;
    padding-top: 0.08rem;
    margin-bottom: 0;
}

.footer
{
    height: 5rem;
    width: 100%;
}

.parents
{
    width: 93vw;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.child
{
    height: 2.4rem;
    flex: 1 1 150px;
}
.child:first-child
{
    text-align: left;
}
.child:nth-child(2)
{
    text-align: center;
}
.child:last-child
{
    text-align: right;
}

.footerHR
{
    width: 4vw;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .child
    {
    flex: 1 1 250px;
    text-align: center !important;
    }
  }

.copyrightStyle
{
    padding-top: 0.8rem;
    color: gray;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.07rem;
    font-size: 0.8rem;
}

.footerIcon
{   
    padding-top: 0rem;
}